@font-face {
	font-family: 'Montserrat';
	src: url('assets/fonts/Montserrat-Regular.eot');
	src: url('assets/fonts/Montserrat-Regular.eot?#iefix')
			format('embedded-opentype'),
		url('assets/fonts/Montserrat-Regular.woff') format('woff'),
		url('assets/fonts/Montserrat-Regular.ttf') format('truetype'),
		url('assets/fonts/Montserrat-Regular.svg#Montserrat') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('assets/fonts/Montserrat-Bold.eot');
	src: url('assets/fonts/Montserrat-Bold.eot?#iefix')
			format('embedded-opentype'),
		url('assets/fonts/Montserrat-Bold.woff') format('woff'),
		url('assets/fonts/Montserrat-Bold.ttf') format('truetype'),
		url('assets/fonts/Montserrat-Bold.svg#Montserrat') format('svg');
	font-weight: bold;
	font-style: normal;
}
